#WikiOpenButton {

    position: absolute;
    right: 17px;
    top: 40px;
    width: 40px;
    height: 40px;
    background: url('../../images/app32.png');
    color: #fba500;
    z-index: 100;
    border: 2px solid; 
    border-radius: 21px;
    background-repeat: no-repeat;
    background-size: cover;
}

#WikiTabber {
    flex-wrap: wrap;
}

#WikiBoxBody {
    overflow-y: auto;
}

#CumulativeTechSettings {
    width: 100%;
    height: 400px;
    resize: none;
}

#HXTable {
    table-layout: fixed;
}
#HXTable thead tr {
    position: sticky;
    top: 0px;
    z-index: 1;
}
#HXTable th:first-child {
    width:130px;
}
#HXTable th:last-child {
    width:80px;
}
#HXTable th:nth-child(2) {
    width:100%;
}
#HXTable tr.selected {
        background: rgba(0,0,0,.4);
}
#HXTable tbody tr td:nth-child(2) {
    display: block;
}

#wikiBuildingJSON>table {
    width: 100%;
    table-layout: fixed;
}