#WikiOpenButton {

    position: absolute;
    right: 17px;
    top: 40px;
    width: 40px;
    height: 40px;
    background: url('../../images/app32.png');
    color: #fba500;
    z-index: 100;
    border: 2px solid; 
    border-radius: 21px;
    background-repeat: no-repeat;
    background-size: cover;
}

#WikiTabber {
    flex-wrap: wrap;
}

#WikiBoxBody {
    overflow-y: auto;
}

#CumulativeTechSettings {
    width: 100%;
    height: 400px;
    resize: none;
}

#HXTable {
    width: 100%;
    & thead tr:first-child th {
        position: sticky;
        top: 0px;
        &:first-child {
            width:130px;
        }
        &:nth-child(3) {
            width:80px;
        }
    }
    & tr.selected {
        background: rgba(0,0,0,.4);
    }
    & td:nth-child(2) {
        line-break: anywhere;
        display: block;
    }
    
}